<!-- inventarios/templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <h1>Iniciar Sesión</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Nombre de usuario</label>
            <input type="text" name="username" class="form-control" id="id_username">
        </div>
        <div class="form-group">
            <label for="id_password">Contraseña</label>
            <input type="password" name="password" class="form-control" id="id_password">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}

